<form novalidate class="form-inline" role="form">
  <div class="form-group"  style="width:100%">
    <label class="sr-only" for="name">Email address</label>
    <input type="text" class="form-control" id="name" placeholder="Search for Name" ng-model="search" style="width:100%" autocomplete="off">
  </div>
</form>

<br>

<table class="table">
  <tr ng-repeat="dev in dev_list.devs | filter:search | orderBy:'last_name'">
    <td ng-class="dev.here ? 'success' : 'danger'">
      <a ui-sref="dev_detail({id: dev.id})">
      <h4>{{ dev.preferred_name | default:dev.first_name }} {{ dev.last_name }}</h4>
      </a>
    </td>
  </tr>
</table>
