<form novalidate class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="name">Email address</label>
    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="search">
  </div>
</form>


<table class="table table-striped">
  <tr ng-repeat="dev in dev_list.devs | filter:search">
    <td ng-class="dev.here ? 'success' : 'danger'">
      <a ui-sref="dev_detail({id: dev.id})">{{ dev.first_name }} {{ dev.last_name }}</a>
    </td>
  </tr>
</table>
